.root-replyList{
    margin-top : 15px;
    margin-left: 100px;
    margin-right :24px;
    margin-bottom : 29px;
    .wrap-reply-count-sort{
        display: flex;

        .reply-list-count{
            margin-right: 35px;
        }
        .reply-list-sort{
            font-style: normal;
            font-size: 16px;
            color: #606060;
            line-height: 20px;
            font-weight: 400;
            font-family: Roboto, Arial, sans-serif;
            margin-top : 3px;   //이걸안주면 댓글, 정렬기준이 세로라인이 안맞음.. 
        }
    }

    .wrap-reply-profile-inputText{
        display: flex;
        margin-top : 15px;
        
        .replyPhoto{
            width: 90%;
            border-radius: 50%;
        }

        .inputReply{
           border: 1px solid blue; 
           margin-top:10px; 
           margin-left : 15px;
           width : 100%; 
           height: 14px;
           border: none; 
           border-bottom: 1px solid #efefea;
           font-size: 14px; 
        }
           //Q. 플레이스 홀더 밑줄 띄우는법?? 
        .inputReply::placeholder{
            line-height:14px; 
        }

        .inputReply:focus{
            //Q.눌렀을때 언더바만 쫘좌작 효과 어케??
            outline: none; //클릭시 outline 3면이 안나오게..
            border-bottom: 2px solid gray;
        }       
    }
    
    .wrap-reply-cancle-ok{
        display: flex;
        justify-content: flex-end;
        .noclick{
            visibility: hidden;
        }
        .reply-cancle-button{
            margin-top : 5px;
            width: 76px;
            height: 40px;
            background: none;
            font-size:13px;
            font-weight:500;
            color:#5b5959;
            text-align:center;
            border: none;
            -webkit-border-radius:5px;     
        }
        .reply-ok-button{
            margin-top : 5px;
            width: 76px;
            height: 40px;
            background: #C7C7C7;
            font-size:13px;
            font-weight:500;
            color:#FFFFFF;
            text-align:center;
            border: none;
            -webkit-border-radius:5px;   
        }

        .reply-ok-button-color{
            margin-top : 5px;
            width: 76px;
            height: 40px;
            background: #045ED4;
            font-size:13px;
            font-weight:500;
            color:#FFFFFF;
            text-align:center;
            border: none;
            -webkit-border-radius:5px;   
        }

        #reply-ok-button{
            margin-top : 5px;
            width: 76px;
            height: 40px;
            background: #C7C7C7;
            font-size:13px;
            font-weight:500;
            color:#FFFFFF;
            text-align:center;
            border: none;
            -webkit-border-radius:5px;   
        }

        #reply-ok-button-color{
            margin-top : 5px;
            width: 76px;
            height: 40px;
            background: #045ED4;
            font-size:13px;
            font-weight:500;
            color:#FFFFFF;
            text-align:center;
            border: none;
            -webkit-border-radius:5px;   
        }
    }
}

//리스트생기는 부분
.wrap-list-all{
    display: flex;

    .replyListPhoto{
        border-radius: 50%;
    }
    .wrap-username-reply{
        margin-left:15px;

        .reply-userName{
            font-weight: bold;
        }
            .wrap-reply-like-dislike-re-reply{
                display: flex;
                margin-top : 15px;
            }

            .reply-like, .reply-like-title, .reply-dislike, .reply-dislike-title, .reply-dislike-re-reply{
                margin-right : 15px;
                font-size: 12px;
                color: #606060;
            }
    }
}