.wrap-list-view{
    display: flex;
    padding-bottom: 15px;
    // border-bottom: 1px solid gray; 
    .list-video{
        width: 150px;
        height: 80px;
        margin-right: 5px;
    }
    .next-video-title{
        font-size: 14px;
    }
    .next-video-channelName, .next-video-viewCount{
        font-size: 13px;
    }
    .alert-item{
        font-size: 12px;
        background: #F2F3F2;       
    }
}