.Subcbutton-button{
    margin-top : 5px;
    width: 99px;
    height: 80%;
    background: red;
    font-size:16px;
    font-weight:500;
    color:#FFFFFF;
    text-align:center;
    border: 2px solid red;
    -webkit-border-radius:5px;
    margin-left : 930px;  
     
}